.addButton{
    position: relative;
    display: block;
    margin: 15px auto;
}

.addForm .formWrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

.addForm {
    background-color: #292582;
    display: block;
}

.addForm input, .addForm select {
    width: 28%;
    margin: 15px 5px;
}

.addForm label {
    margin: 5px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    align-self:center;
    width: 15%;
}

.submit {
    display: block;
    width: 25% !important;
    margin: 0 auto !important;
    margin-bottom: 15px;
}

.login{
    display: flex;
    width: fit-content;
    padding: 25px;
    margin: 150px auto;
    flex-direction: column;
    background-color: #242582;
}
.login__body{
    display: flex;
    flex-direction: column;
    width: 250px;
}
input, option, select, button{
    margin: 5px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border-color: white;
    border-style: none;
    outline: 0;
    cursor: pointer;
}
.login__submit{
    text-transform: uppercase;
    background-color: #cccccc;
    color: #F64C72;
}
.login__footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.login__footer button{
    outline: 0;
    border-style: none;
    outline: 0;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}

.exciseSection {
    width: 80%;
    background-color: #00baba;
    display: flex;
    justify-content: center;
}
.exciseSection input, .exciseSection label, .exciseSection select{
    display: block;
}

.exciseToggle{
    background-color: #00baba;
    color: #ffffff;
    padding: 15px;
    text-transform: uppercase;
    border: 2px solid transparent;
    font-weight: 600;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    width: fit-content;
    margin: 0 auto 15px auto;
}

.element {
    background-color: #242582;
    display: flex;
    flex-direction: column;
    padding: 35px;
    margin-top: 2px;
}

.element button{
    max-height: 100px;
    align-self: center;
}

.controls{
    border-top: 2px solid #F64C72;
    margin: 15px auto 0 auto;
    display: block;
    width: 100%;
    text-align: center;
}

.info span{
    display: block;
    margin: 5px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    align-self: center;
    color: #ffffff;
}

.search{
    outline: 1px solid #F64C72;
    display: block;
    width: 90%;
    margin: 10px auto;
}

.search-on-receipt{
    width: 50%;
    display: inline-block !important;
}

.create-receipt-wrapper{
    position: relative;
    display: flex;
    overflow-y: scroll;
    height: 60vw;
    width: 100%;
}

.receipt-title{
    color: #ffffff;
    text-align: center;
    padding: 10px 0 20px 0;
    border-bottom: 3px solid #F64C72;
}

.receipt-section{
    width: 50%;
    height: 100%;
    position: sticky;
    display: inline-block;
    background-color: #00baba;
}

.receipt-section article{
    background-color: #F64C72;
    color: #ffffff;
    margin-top: 2px;
}
.receipt-section article span{
    display: block;
    font-size: 16px;
    padding: 3px;
}

.receipt-actions{
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: #242582;
}